---

	// Component Imports
// import Tour from '../components/Tour.astro';
// You can import components from any supported Framework here!
// import PreactCounter from '../components/PreactCounter.jsx';
// import ReactCounter from '../components/ReactCounter.jsx';
// import SvelteCounter from '../components/SvelteCounter.svelte';
// import VueCounter from '../components/VueCounter.vue';

import '/style/global.css'
import Header from '../components/Header.astro';
// import Intro from '../components/Intro.svelte';
import LeftBar from '../components/LeftBar.jsx';
import Intro from '../components/Intro.jsx';
import About from '../components/About.svelte';
import Projects from '../components/Projects.svelte';
import Resume from '../components/Resume.vue';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Manish Kumar Das';

// Full Astro Component Syntax:
// https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/astro-components.md


---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

    <style>
    </style>
</head>
<body>
    <main class="px-0 md:px-16 lg:px-24 xl:pl-64 xl:pr-32">
            <Header />
            <Intro />
            <LeftBar client:visible />
            <About />
            <Projects />
            <Resume />
        <!-- <Tour /> -->

        <!--
           - You can also use imported framework components directly in your markup!
           -
           - Note: by default, these components are NOT interactive on the client.
           - The `:visible` directive tells Astro to make it interactive.
           -
           - See https://github.com/snowpackjs/astro/blob/main/docs/core-concepts/component-hydration.md
           -->
        <!-- <PreactCounter client:visible />
        <ReactCounter client:visible />
        <SvelteCounter client:visible />
        <VueCounter client:visible /> -->
    </main>
</body>
</html>

<style>

</style>
